
/********************BODY***********************/
*{
  background-image: url("/src/images/darkback.jpg");
}


/**************************************NAVBAR*****************************************/
 nav .navbar-brand{
  color: white;
}

/******MENU-LINKS********/



nav a.nav-link{

  font-weight: 500;
  letter-spacing:0.0375rem ;
  cursor: pointer;
  
}
nav ul li{
  text-transform: uppercase;
}
.navbar-nav > li > a{
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: white;
  
  
}
.navbar-nav{
  margin-left: auto;
}

/***************corousal********************/

.carousel-inner{
  height: 60vh ;
  
}



.contain{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 5rem; */
}